SUBTENSOR_NETWORK=wss://entrypoint-finney.opentensor.ai:443
WALLET_NAME=miner
HOTKEY=default
NETUID=82
EXTERNAL_IP=_YOUR_EXTERNAL_IP_HERE__
PORT=8086

BOARD_SERVICE=https://board-api.hermes-subnet.ai
OPENAI_API_BASE=https://openrouter.ai/api/v1
OPENAI_API_KEY=sk-xxx

# Miner self-owned agent
MINER_LLM_MODEL=google/gemini-3-flash-preview

# For project analysis
LLM_MODEL=google/gemini-3-flash-preview

# Enable only when you use a custom optimised LLM
ENABLE_FALL_BACK_GRAPHQL_AGENT=false

# The Graph API token for querying subgraph data, needed for TheGraph projects
# free api token can be obtained from https://thegraph.com/docs/en/subgraphs/querying/managing-api-keys/
THEGRAPH_API_TOKEN=xx

# The Codex API key for querying Codex data. needed for Codex projects
# free api key can be obtained from https://dashboard.codex.io/dashboard/api-keys
CODEX_API_TOKEN=xx

# Local debugging mode (doesn't interact with chain)
# RUNNING_MODE=mock

# LLM model for scoring in mock mode (compares ground truth with miner answers)
# SCORE_LLM_MODEL=zai-org/glm-4.6