SUBTENSOR_NETWORK=wss://entrypoint-finney.opentensor.ai:443
WALLET_NAME=validator
WALLET_PATH=
HOTKEY=default
NETUID=82

EXTERNAL_IP=_YOUR_EXTERNAL_IP_HERE__
PORT=8085

BOARD_SERVICE=https://board-api.hermes-subnet.ai

OPENAI_API_BASE=https://openrouter.ai/api/v1
OPENAI_API_KEY=sk-xxx

# For GraphQL agent & synthetic challenges
LLM_MODEL=google/gemini-3-flash-preview
#LLM_MODEL=z-ai/glm-4.7

# For scoring miners
SCORE_LLM_MODEL=google/gemini-3-flash-preview
# SCORE_LLM_MODEL=z-ai/glm-4.7

# Synthetic challenge interval in seconds (default: 600 = 10 minutes)
CHALLENGE_INTERVAL=1800

# The Graph API token for querying subgraph data, needed for TheGraph projects
# free api token can be obtained from https://thegraph.com/docs/en/subgraphs/querying/managing-api-keys/
THEGRAPH_API_TOKEN=xx

# The Codex API key for querying Codex data. needed for Codex projects
# free api key can be obtained from https://dashboard.codex.io/dashboard/api-keys
CODEX_API_TOKEN=xx